<div class="row">
  <div class="col-xs-12" style="margin-bottom: 25px;">
    <h2 class="text-warning">Про нас</h2>
  </div>

  <div class="col-xs-12" style="margin-bottom: 35px;">
    <div class="about-us">
      <div class="row">
        <div class="col-xs-6">
          <img src="/images/2.jpg" class="img img-responsive" alt="">
        </div>
        <div class="col-xs-6">
          <h2 class="text-center">Ми використовуємо новітні технології для досягнення кращого результату.</h2>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="col-xs-12" style="margin-bottom: 50px;">
    <div class="about-us">
      <div class="row">
        <div class="col-xs-6">
          <h2 class="text-center">Наші фахівці завжди намагаються виконувати свою роботу якомога краще, щоб ви завжди залишалися задоволені нашими послугами.</h2>
        </div>
        <div class="col-xs-6">
          <img src="/images/3.jpg" class="img img-responsive" alt="">
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="col-xs-12 text-center">
    <img src="/images/4.jpg" alt="4" class="img img-responsive" style="width: 350px; height: 288px; border-radius: 20%; margin: auto" />
    <h2>Atti Mitru</h2>
    <h4>УжНУ 2017</h4>
  </div>
</div>
