<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div style="margin-top: 25px;">
            <a href="/admin/employee/list">Список лікарів</a> | <a href="/admin/departments/list">Список відділів</a>
        </div>
    </div>
</div>