<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <h1 class="text-warning">Вітаємо на сайті міської поліклініки</h1>
    </div>

    <h4 class="text-center">
      <i>Цей ресурс надає інформацію про лікарів, їх робочий графік та іншу корисну інформацію</i>
    </h4>
  </div>
</div>


<div class="row" style="margin-top: 20px;">
  <div class="col-xs-offset-2 col-xs-8 text-center">
    <img src="/images/1.jpg" alt="1.jpg" class="main-image img img-responsive img-thumbnail" />
  </div>
</div>


<div class="row" style="margin-top: 35px;">
  <div class="col-xs-12" style="padding-left: 25px;">
    <h4 class="alert alert-warning">
      <span>Ви можете переглянути список фахівців які працюють в нашому закладі та їх робочий графік </span>
      <a href="/employee-list"><b> тут </b></a>
    </h4>
  </div>
</div>


<div class="row" style="margin-top: 25px;">
  <div class="col-xs-12">
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-6">
        <div style="padding-left: 25px;">
          <h3 class="text-warning">Контактні дані</h3>

          <div class="text-justify">
            <i class="glyphicon glyphicon-earphone text-primary"></i>
            <span>+38 (0312) 64-24-69 <b>Приймальня головного лікаря</b></span>
          </div>
          <div class="text-justify">
            <i class="glyphicon glyphicon-earphone text-primary"></i>
            <span>+38 (0312) 64-20-80 <b>Реєстратура</b></span>
          </div>
        </div>

        <div style="padding-left: 25px; margin-top: 40px;">
          <h3 class="text-warning">Графік роботи</h3>

          <div class="text-justify">
            <i class="glyphicon glyphicon-calendar text-danger"></i>
            <span><b>Робочі дні:</b> понеділок-неділя</span>
          </div>
        </div>

        <div style="padding-left: 25px; margin-top: 40px;">
          <h3 class="text-warning"> Де нас знайти? </h3>

          <div class="text-justify">
            <i class="glyphicon glyphicon-map-marker text-danger"></i>
            <span><b>м. Ужгород, вул. Грибоєдова, 20</b></span>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <h3 class="text-warning"> Ми на карті </h3>

        <div map-lazy-load="https://maps.google.com/maps/api/js">
          <ng-map zoom="16">
            <marker position="48.63938,22.28112" centered="true"></marker>
          </ng-map>
        </div>
      </div>
    </div>
  </div>
</div>
